.FlexContainer {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.FlexContainer-row {
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    border: 1px solid red;
}

.FlexContainer-column {
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    border: 1px solid blue;
}
