.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    text-align: center;
    padding: 20px;
    min-height: 100vh;
}

.Link:active, .Link:visited, .Link:link {
    color: black;
    text-decoration: none;
}

a.Link {
    width: 175px;
    margin: 10px;
}
